GMAIL_CLIENT_ID=<from step 4>
GMAIL_CLIENT_SECRET=<from step 4>
GMAIL_REFRESH_TOKEN=<from step 4>
GMAIL_SENDER_EMAIL=<the gmail account used to authorize>

REDIS_URL=<redis_url>

NATS_URL=<nats_url>
NATS_CREDS_PATH=<path_to_nats.creds_file>